/*variavel*/
:root{
    --color-primary: #fb2056;
    --color-primary-hover: #da1c4b;
    --color-light-gray: #f5f5f5;
    --color-black: #191919;
    --color-white: #ffffff;
    --color-light-black: #211f1f;
}
/*Configuração Global*/
*,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}
/*Configuração do corpo*/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}
/*botão*/
.btn{
    border-radius: 40px;
    padding: 17px 40px;
    font-weight: 700;
    border-color: black;
    background-color: var(--color-primary);
    color: var(--color-black);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0;
}
/*botão passando o mouse*/
.btn:hover  .btn:focus {
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary);
    transition: all 0.3s;
}

/*Divisor*/
.divider{
    border: 1px solid var--color-primary;
    width: 100px;
    max-width: 20px auto;

}

.container{
    margin: 0 auto;
    max-width: 1024px;
}
/*div header*/
#page-header{
    position: relative;
    background-color: var(--color-light-black);
    background-image: url(/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.background-overlay{
    opacity: 0.65;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/*div imagem*/
#page-header #page-header-logo img{
    width: 150px;
    height: 42px;

}
/*conteudo*/
#page-header-content{
    color: var(--color-white);
    text-align: center;
    padding: 200px 0px;
    
}
/*h1*/
#page-header #page-header-content h1{
    font-size: 72px;

}
/*h2*/
#page-header #page-header-content h2{
    font-size: 32px;
}

#quote{
    background-color: #918d8d;
    padding: 40px 0;
}

#quote p{
    color: var(--color-white);
    
}

#quote.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#quote #quote-content{
    flex: 1;
    text-align: center;
    font-size: 20px;
}

#upcoming-events{
    padding: 100px 0;
}

#upcoming-events #upcoming-events-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px
}

#upcoming-events #upcoming-events-content .event{
    text-align: center;
    width: 450px;
}

#upcoming-events #upcoming-events-content .event 
img{
    border-radius: 4px;
    width: 100%;
    box-shadow: 10px 10px 0 1px rgba(0, 0, 0, 0.071);
}

#upcoming-events #upcoming-events-content .event h3 {
    margin: 20px 0;
    font-size: 22px;
}

.section-title{
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

#explore{
    background-image: url(/img/explore-bg.jpg);
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

#explore #explore-content{
    color: var(--color-white);
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#explore #explore-content div{
    width: 500px;
}

#explore #explore-content ,.section-title{
    text-align: left;
}

#explore #explore-content .divider{
    margin-left: 0;
}

#upcoming-tours{
    padding: 100px;
}

#upcoming-tours .container{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

#upcoming-tours .container div{
    flex: 1;
}

#upcoming-tours .container div img{
    width: 100%;
}

#upcoming-tours .upcoming-tours-img{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#upcoming-tours .divider{
    margin-left: 0;
}

#page-footer{
    background-color: var(--color-light-black);
    color: var(--color-white);
    text-align: center;
    padding: 40px 0;
}





















